* {
    padding:0;
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

/*Coloquei um background que eu achei que tivesse a ver com o tema. Usei a tag cover pra cobrir a tela toda
e attachment pra fixar.*/

body {
    background-image: url('../imagens/pokemon-party.jpg');
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

/*Fiz um flex divindindo em 4 partes no sentido row*/

div#maincontainer {
    background-color: white;
    border: 2px solid orange;
    border-radius: 20px;
    max-width: 60%;
    min-width: 650px;
    min-height: 500px;
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: relative;
}

/*Aqui coloquei um insert na intenção do background pra colocar uma pokebola com opacidade baixa*/

div#maincontainer::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../imagens/pokebola.webp');
    opacity: 0.02;
    content: "";
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
}

/*Aqui é a largura do Anterior e Próximo.*/

div.maincontainerchild-1, div.maincontainerchild-4 {
    width: 68px;
}

div.maincontainerchild-4 {
    text-align: right;
}

/*Aqui apliquei outro flex pros itens de dentro.*/

div.maincontainerchild-2, div.maincontainerchild-3 {
    flex-grow: 1;
    align-self: stretch;
    width: 40%;
    margin: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

/*Flex grow pros itens de dentro ficarem proporcionais com o espaço disponível.*/

div.pokemoninfo {
    flex-grow: 1;
    display: flex;
}

/*Aqui o nome do pokemon dentro de pokemoninfo-1.*/

div.pokemoninfo-1 span.nomedopokemon  {
    margin: auto auto auto 5px;
    font-size: 30px;
    font-weight: bold;
    
}

/*Aqui o atributo do pokemon dentro de pokemoninfo-2.*/

div.pokemoninfo-2 {
    align-self: flex-start;
    height: fit-content;
    max-height: 20px;
    background-color: darkorange;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 8px;
}

/*Aqui alguns ajustes no span dentro do atributo.*/

span.atributepokemon {
    margin: auto auto auto 15px;
    padding-right: 15px;
}

/*Aqui tem a ver com a transição pra não empurrar os itens pra baixo.*/

div.pokemoninfo-3 {
    max-height: 186.89px;
}

/*No pokemoninfo-3, coloquei uma imagem do pokemon com uma animação.*/

@keyframes animation-charmander {
    33% {filter: drop-shadow(10px 0px 50px orange);}
    66% {filter: drop-shadow(5px 2px 8px darkorange);}
    100% {filter: drop-shadow(5px 2px 8px red);}
  }

div.pokemoninfo-3 img {
    display: block;
    width: 50%;
    margin: 0 auto auto auto;
    filter: drop-shadow(10px 0px 50px orange);
    animation: animation-charmander;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: width 1s, margin 1s;
    
}

div.pokemoninfo-3 img:hover {
    width: 52%;
}



/*No pokemoninfo-4, coloquei um grow grande pra ele sempre empurrar os itens pra cima
numa proporção de 20 pra 1, dessa forma os itens como nome e atributo não saem do lugar.
Sei que eu poderia ter definido altura e margem para os elementos, mas achei mais prático assim,
já que o grow respeita os elementos que estão dentro*/

div.pokemoninfo-4 {
    flex-grow: 20;
    flex-direction: column;
}

/*Aqui estão as imagens miniturizadas que coloquei dentro de evolução. As imagens estão no css inline diretamente no html.*/

div.evolutionsitem img {
    width: 70%;
    margin: 5px auto auto auto;
    display: block;
    filter: drop-shadow(10px 5px 10px orange);
    
}

/*Aqui joguei um grid pra fazer a parte de evolução. Os frs são para ajustar 
a distância das evoluções, de modo responsivo.*/

div.evolutionsgrid {
    display: grid;
    grid-template-columns: 70px 1fr 70px 1fr 70px;
    grid-template-rows: 70px auto;
    background: white;
    justify-content: space-around;
    row-gap: 5px;
    margin: 20px 2px 0 2px;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
    
}

/*Aqui eu fiz o círculo de cada evolução.*/

div.evolutionsitem-1, div.evolutionsitem-3, div.evolutionsitem-5 {
    border: 2px solid darkorange;
    border-radius: 100px;
}

/*Aqui fiz o tracejado ligando as evoluções.*/

div.evolutionsitem-2, div.evolutionsitem-4 {
    border-top: 2px dotted darkorange;
    align-self: center;
}

/*Aqui o nome de cada evolução*/

div.evolutionsitem span.evolutions-name {
    font-size: 12px;
    font-weight: bold;
}

/*Os atributos de cada evolução.*/

div.evolutionsitem .evolutions-atribute {
    font-size: 12px;
    background: darkorange;
    border-radius: 10px;
    width: fit-content;
    padding: 1px 4px 1px 4px;
    margin-bottom: 2px;
}

/*Iniciamos aqui os itens da parte direita do container. Fiz um flex coluna inicialmente.*/

div.maincontainerchild-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Aqui temos o overflow desativado, que também poderia servir para uma opção de responsividade.*/

div.maincontainerchild-3 div.pokemonside {
    /*border:1px solid black;
    overflow: auto;*/
    flex-grow: 1;
}

/*Aqui foi pra manter certa distância do título para o conteúdo, já que coloquei margin 0 no início.
Gosto disso porque padroniza tudo*/

div.pokemonside h2 {
    margin-bottom: 5px;
}

/*Aqui uma lista não ordenada do menu.*/

ul.containerlist {
    list-style-type: none;
    display: inline-block;
    min-width: 256px;
    margin-bottom: 2px;
}

li.listitem {
    display:inline;
    font-weight: bold;
    font-size: 12px;
    padding: 0 4px 0 4px;
    cursor: pointer;
}

/*Criei um actuallist pra identificar o item ativo.*/

li.actuallist {
    border-bottom: 2px solid darkorange;
}

/*Um opacity pra acentuar ainda mais quem está ativo e quem não está.*/

li.listitem-2, li.listitem-3, li.listitem-4 {
    opacity: 0.5;
}

/*Um leve efeito.*/

li.listitem-2:hover, li.listitem-3:hover, li.listitem-4:hover {
    opacity: 1;
}

/*Aqui começa o universo das spans. Gostei muito do span no inline block. Temos as versões pra fraquezas, história e versões.*/

span.charmander-weakness {
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    padding: 2px 7px 2px 7px;
    font-size: 14px;
}

span.charmander-weakness-1 {
    background-color: rgb(84, 84, 255);
    color:white;
    text-shadow: 1px 1px black;
}

span.charmander-weakness-2 {
    background: linear-gradient(to bottom, rgb(253, 170, 170) 50%, brown 50%);
    color: black;
}

span.charmander-weakness-3 {
    background: gray;
    color: white;
}

span.charmander-story {
    text-align: justify;
    display: inline-block;
    font-size: 12px;
}

span.charmander-versions {
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

span.charmander-versions-1 {
    border: 2px solid darkorange;
}

span.charmander-versions-2:hover {
    border: 1px solid darkorange;
    padding: 2px 10px 2px 9px;
}

/*Aqui fiz outro gridizinho pros blocos.*/

div.pokemonside-5 {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px;
    gap: 5px;
}

div.charmander-characterstics {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(252, 208, 126);
    padding-top: 5px;
    font-size: 12px;
    text-align: center;
}

/*Aqui dei inline-block na span pra ajustar margin.*/

div.charmander-characterstics span {
    display: inline-block;
    margin-top: 10px;

}

/*Aqui a imagem de gênero.*/

img.image-gender {
    width: 50%;
    display: inline-block;
}

/*Aqui os títulos dos medidores.*/

div.input-ranger-father {
    font-size: 12px;

}

/*Aqui eu transcendi um pouco meu entendimento de ranger e suas alterações.*/

.slider-charmander {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    margin-bottom: 8px;
    pointer-events: none;
  }
  
.slider-charmander::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 2px;
    background: gray;
  }

.slider-charmander-1 {
    background: linear-gradient(to right, red 60%, gray 0%);
  }

.slider-charmander-2 {
    background: linear-gradient(to right, blue 48%, gray 0%);
  }
  
.slider-charmander-3 {
    background: linear-gradient(to right, green 45%, gray 0%);
  }

  li.listitem-2 {
    position: relative;
  }

  li.droppdown-item {
    border-bottom: 1px solid black;
  }

  ul#droppdown {
    position: absolute;
    background: white;
    display: none;
    border: 1px solid orange;
    z-index: 1;
    width: 78px;
    list-style-type: none;
    padding: 3px;
    border-radius: 4px;
  }

  li.listitem-2:hover ul#droppdown {
    display: block;
    left: 0;
  }





  /*Code for responsive area with max 750px in width right below.*/

  @media only screen and (max-width: 750px) {

    /*Ajustei com grid.*/

    div#maincontainer {
        transition: all 1s;
    }

    div#maincontainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        max-width: 400px;
        min-height: auto;
        gap: 0;
        min-width: auto;
        padding: 0 8px 0 8px;
    }


    div.maincontainerchild {
        width: 100%;
    }

    div.maincontainerchild-2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    div.maincontainerchild-3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    div.maincontainerchild-1 {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-bottom: 5px;
        
    }

    div.maincontainerchild-4 {
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: right;
        text-align: right;
        margin-bottom: 5px;
    }

    div.pokemoninfo-3 {
        max-height: 225.23px;
    }


  }
    /*Code for responsive area with max 475px in width right below.*/

  @media only screen and (max-width: 475px) {

    div#maincontainer {
        width: 85%;
    }
    
  }
